<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/me.jpg">
        <p>I have recently graduated from SFU with Bachelor of computer science degree.</p>
    </div>
    
    {{>footer}}
</body>

</html>