html, body, .container {
    height: 100%;
}

/* Reset */
html, body, h1, p, a, div, section {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font: inherit;
}

body {
    font: 18px/23px "Cantarell", sans-serif;
    color: #ffffff;
}

h1 {
    color: #efecec;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 50px;
    font-weight: 400;
    margin-top: 20px;
}


body {
    color: #333333;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh
}

.main-content {
    flex-grow: 1;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 48px;
    margin-bottom: 16px;
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

.portrait {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}

#myphoto {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


#bcaa, #description, .title, #contact, h1, blockquote {
    display: block;
    max-width: 480px;
    margin: 15px auto;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.65);
    color: #e1e1e1;
    /*font-family: "Kotta One", serif;*/
    font-size: 22px;
    line-height: 28px;
}


#bcaa, #description, .title, #contact, h1, blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}


#links {
    text-align: center;
}

/*#Work-term-details,*/
/*#supervisor-evaluation:link,*/

/*#Work-term-details:active,*/
/*#supervisor-evaluation:active,*/

#Work-term-details:hover, #supervisor-evaluation:hover,
#Work-term-details:active, #Work-term-details:active {
    border: 1px solid #e67e22;
    color: #e2e6d2;
}

#Work-term-details, #supervisor-evaluation {
    background-color: #e67e22;
    border-radius: 200px;
}

/*#sortingvideo {*/
/*    padding-bottom: 200px;"*/
/*}*/