html, body, .container {
    height: 100%;
}

/* Reset */
html, body, h1, p, a, div, section {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font: inherit;
}

body {
    font: 18px/23px "Cantarell", sans-serif;
    color: #ffffff;
}

h1 {
    color: #efecec;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 50px;
    font-weight: 400;
    margin-top: 20px;
}

body {
    /* Location of the image */
    background-image: url(../img/sfu.jpg);

    /* Image is centered vertically and horizontally at all times */
    background-position: center center;

    /* Image doesn't repeat */
    background-repeat: no-repeat;

    /* Makes the image fixed in the viewport so that it doesn't move when
       the content height is greater than the image height */
    background-attachment: fixed;

    /* This is what makes the background image rescale based on its container's size */
    background-size: cover;

    /* Pick a solid background color that will be displayed while the background image is loading */
    background-color:#464646;

    /* SHORTHAND CSS NOTATION
     * background: url(background-photo.jpg) center center cover no-repeat fixed;
     */
}

body {
    color: #333333;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh
}

.main-content {
    flex-grow: 1;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 48px;
    margin-bottom: 16px;
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

.portrait {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}

#myphoto {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


#bcaa, #description, .title, #contact, h1, blockquote {
    display: block;
    max-width: 480px;
    margin: 15px auto;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.65);
    color: #e1e1e1;
    /*font-family: "Kotta One", serif;*/
    font-size: 22px;
    line-height: 28px;
}


#bcaa, #description, .title, #contact, h1, blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}


h1 {
    font-size: 32px;
}

#links {
    text-align: center;
}

/*#sortingvideo {*/
/*    padding-bottom: 200px;"*/
/*}*/